.input {
  padding: 0.75rem;
  border: var(--border-width) solid #fff;
  
  display: block;
  
  width: 100%;
  
  transition-property: color;
  transition-duration: var(--transition-duration);
}

.input::placeholder {
  color: var(--secondary-color);
}

.input:focus {
  border-color: var(--accent-color);
}
