.button {
  width: 100%;
  border: var(--border-width) solid #fff;
  padding: 0.75rem;
  font-size: .8333rem;
  font-weight: bold;
  transition-property: background-color, transform, color, border-color, filter;
  transition-duration: var(--transition-duration);
}

.button:hover {
  background-color: #fff;
  color: var(--primary-color);
}

.button:active {
  transform: translateY(2px);
}

.accent {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.accent:hover {
  color: #fff;
  background-color: var(--accent-darker-color);
  border-color: var(--accent-darker-color);
}

.danger:hover {
  color: #fff;
  border-color: var(--danger-color);
  background-color: var(--danger-color);
}

.outlinedThin {
  color: #fff;
  border: 2px solid var(--accent-color);
  font-weight: normal;
}

.outlinedThin:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
}
