.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delimiter {
    font-size: .666rem;
    user-select: none;
}

@media screen and (max-width: 500px) {
    .delimiter {
        font-size: .5rem;
    }
}