*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

html,
button,
input,
select {
  font-size: var(--font-size);
  border-radius: 0;
}

body {
  overflow-x: clip;
  overflow-clip-margin: 2rem;
  max-width: 100vw;
  padding: env(safe-area-inset);
  background: var(--gradient);
}

body,
button,
input,
select {
  font-family: var(--font-family);
  line-height: 1.2;
  color: #fff;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}

h2 {
  font-weight: 700;
  font-size: 1rem; /* 1.25rem*/
}

strong {
  font-weight: 700;
}

.notyf__message {
  font-size: 0.75rem;
}


@media screen and (max-width: 1000px) { 
  html,
  input,
  button,
  select {
    font-size: calc(var(--font-size) / 1.5);
  }

  body {
    background-size: auto max(100%, 3050px);
  }
}
