.app {
  max-width: var(--max-width);
  width: var(--width);
  margin: 0 auto;
  padding: 2rem 0;
  min-height: 100vh;
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  .bodyFixedBackgroundHeight {
    background-size: auto max(100%, 3050px);
  }
}