.radio {
    position: absolute;
    opacity: 0;
    /* pointer-events: none; */
}

.option {
    position: relative;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 .2rem 0 1rem;
    
    height: 1.75rem;

    font-size: .75rem;
    text-align: left;

    transition-property: filter;
    transition-duration: var(--transition-duration);
}

.option:hover {
    background: rgba(255, 255, 255, .1);
}

.option.selected {
    background-color: rgba(255, 255, 255, .2);
}

.option.selected .selectedOption svg {
    stroke: var(--accent-color);
    stroke-width: 3px;
}

.order {
    display: flex;
    align-items: center;

    height: 100%;
}

.order label {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    text-align: center;

    transition-property: transform;
    transition-duration: var(--transition-duration);
    
    z-index: 1;
}

.order label:hover {
    transform: translateY(-1px);
}

.ascending, .descending {
    width: 1.25rem;
    height: 100%;
}

.descending svg {
    transform: rotate(180deg);
}

.sibling {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
}

.sibling:hover ~ .order .ascending {
    transform: translateY(-1px);
}

@media screen and (max-width: 500px) {
    .option {
        padding: .25rem .2rem .25rem .5rem;
    }
}