.input {
    border: var(--light-border-width) solid #fff;
    border-radius: var(--light-border-radius);

    width: 4.5rem;
    height: 1.5rem;

    text-align: center;
    
    font-size: .75rem;

    transition-property: border-color;
    transition-duration: var(--transition-duration);
}

.input:placeholder-shown {
    border-color: rgba(255, 255, 255, .5);
}

.input::placeholder {
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .input {
        width: 3.3rem;
    }
}

@media screen and (max-width: 500px) {
    .input {
        width: 3rem;

        font-size: .5rem;
    }
}

@media screen and (max-width: 350px) {
    .input {
        width: 2.5rem;

        font-size: .5rem;
    }
}