.wrapper {
    display: grid;
    grid-template-columns: minmax(0, 7fr) minmax(0, 3fr);
    grid-gap: 4rem;
}

@media screen and (max-width: 800px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-gap: 1rem;

        padding-bottom: 2rem;
    }
}