.wrapper {
    position: absolute;

    margin-top: 1rem;
    
    height: 100%;
    width: var(--width);
    max-width: var(--max-width);

    pointer-events: none;
    z-index: 1;
}

.form {
    position: sticky;
    top: 1rem;
    left: 0;
}

.container {
    display: flex;
    flex-direction: column;

    padding: .5rem 0;
    border-radius: var(--border-radius);

    height: unset;
    width: 13rem;

    opacity: 0;
    pointer-events: none;

    transition: opacity calc(var(--transition-duration) * 2);
}

.show {
    opacity: 1;
    pointer-events: auto;
}

.notification {
    font-size: .55rem;
}

@media screen and (max-width: 1150px) {
    .container {
        width: calc(50%);
    }
}

@media screen and (max-width: 1000px) {
    .container {
        width: calc(33%);
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: calc(50% - 1rem);
    }
}