.wrapper {
    width: var(--width);
    max-width: var(--max-width);

    pointer-events: none;
    z-index: 1;
}

.form {
    position: sticky;
    left: 0;
    top: 1rem;
}

.container {
    display: flex;
    flex-direction: column;

    margin-top: 1rem;

    border-radius: var(--border-radius);

    height: unset;
    width: 13rem;

    opacity: 0;
    pointer-events: none;

    transition-property: opacity;
    transition-duration: var(--transition-duration);
}

.show {
    opacity: 1;
    pointer-events: auto;

    transition-property: opacity;
    transition-duration: calc(var(--transition-duration) * 2);
}

.filterTabs {
    padding: .5rem 0;
}

.notification {
    font-size: .55rem;
}

@media screen and (max-width: 1150px) {
    .container {
        width: calc(50%);
    }
}

@media screen and (max-width: 1000px) {
    .container {
        width: calc(33%);
    }
}

@media screen and (min-width: 501px) {
    .wrapper {
        position: absolute;
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        position: relative;
        display: block;
    }

    .container {
        width: 100%;
        margin-top: 0;
        box-sizing: border-box;
        transition-property: max-height, opacity, transform;
        transition-duration: calc(var(--transition-duration) * 3);
        transform: scale(.95);
        max-height: 0;
    }

    .show {
        max-height: 20.5rem;
        transition-property: max-height, opacity, transform;
        transition-duration: calc(var(--transition-duration) * 3.5);
        transform: scale(1);
    }

    .filterTabs {
        margin-bottom: 1.5rem;
    }
}