.row {
  display: grid;
  grid-gap: .666rem;
  grid-template-columns: calc(50% - 0.5rem) 1fr;
}

.row input,
.row select {
  font-size: .8333rem;
}

.influencerInfo {
  display: grid;
  grid-template-columns: 2rem auto;
  align-items: center;
  grid-gap: .666rem;
}

.nameInput,
.priceInput {
  color: #fff;
  border-color: #fff;
}

.nameInput,
.priceInput,
.priceInput::placeholder {
  transition-property: border-color, color;
  transition-duration: var(--transition-duration);
}

/* Cancelling prev style change */
.priceInputDisabled:focus,
.priceInput:placeholder-shown,
.priceInput::placeholder,
.priceInput:focus:placeholder-shown,
.priceInputDisabled:focus,
.priceInputDisabled:focus::placeholder {
  color: rgba(255, 255, 255, .4);
  border-color: rgba(255, 255, 255, .4);
}

.priceInputDisabled,
.priceInputDisabled:placeholder-shown,
.priceInputDisabled::placeholder {
  color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.disabled.priceInput {
  color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.priceInput:not(.priceInputDisabled):placeholder-shown:focus {
  border-color: #fff;
}
.priceInput:not(.priceInputDisabled):not(:placeholder-shown):focus {
  border-color: var(--accent-color);
}

@media screen and (max-width: 1000px) {
  .row {
    grid-template-columns: 1fr;
  }
}
