.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.logo {
  width: 3rem;
}

.links {
  display: flex;
  align-items: center;
}

.links > *:not(:last-child) {
  margin-right: 1.5rem;
}

.links > .active {
  font-weight: bold;;
  color: var(--accent-color);
}

@media screen and (max-width: 1000px) {
  .header:not(.clientHeader) {
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .header:not(.clientHeader) .links {
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
  }

  .header:not(.clientHeader) .links > *:not(:last-child) {
    margin-right: 0;
    margin-bottom: 0.75rem;
  }

  .header.clientHeader .links > *:not(:last-child) {
    margin-right: 1rem;
  }

  .linksRowMobile {
    flex-direction: row;
  }
  
  .linksColumnMobile {
    flex-direction: column;
  }
}
