.showMobile {
    display: none;
}

.showDesktop {
    display: flex;
}

.swipeWrapper > * {
    overflow: visible !important;
}

.swipeWrapper div[id=delete] {
    border-radius: calc(var(--border-radius) * 2);
}

@media screen and (max-width: 800px) {
    .showMobile {
        display: block !important;
    }
    
    .showDesktop {
        display: none !important;
    }
}
