.wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.mark {
  height: 2rem;
  width: 2rem;
  border: var(--border-width) solid #fff;
  transition-property: background-color, border-color;
  transition-duration: var(--transition-duration);
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.mark:after {
  content: "";
  opacity: 0;
  margin-top: -3px;
  width: 8px;
  height: 14px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: opacity var(--transition-duration);
}

.input:checked ~ .mark:after {
  opacity: 1;
}

@media screen and (max-width: 500px) {
  .wrapper {
    width: 2rem;
    height: 2rem;
  }
}
