.magerInputWrapper {
    display: grid;
    grid-gap: .5rem;
}

.title {
    font-size: .583rem;
    font-weight: bold;
}

.managerInput {
    border: 3px solid var(--border-color-secondary);
    border-radius: var(--border-radius);
    padding: 1rem;

    width: 100%;

    transition: var(--transition-duration);
}

.managerInput:focus {
    border-color: #fff;
}

@media screen and (max-width: 800px) {
    .title {
        font-size: .875rem;
    }

    .managerInput {
        font-size: 1.5rem;
    }
}