.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    max-width: var(--max-width);
}

@media screen and (max-width: 450px) {
    .container {
        flex-direction: column;
    }
}