.option {
  padding: .5rem !important;
  
  font-family: var(--font-family) !important;
  font-size: .75rem !important;
  font-weight: normal !important;
}

@media screen and (max-width: 1000px) {
  .paperManager {
    top: 387px !important;
  }

  .paperAdmin {
    top: 446px !important;
  }
}