.form {
  display: grid;
  grid-gap: 2.75rem;
}

.gridSection {
  display: grid;
  grid-gap: .5rem;
}

.gridSectionUserInfo {
  display: grid;
  grid-gap: 1.5rem;
}

.influencersWrapper {
  display: grid;
  grid-gap: 1.5rem;
}

.inputs {
  display: grid;
  grid-gap: 2rem;
}

.nicknameWrapper,
.columnsHeader {
  display: grid;
  align-items: center;
  grid-gap: .666rem;
}

.nicknameWrapper {
  grid-template-columns: calc(50% - 0.5rem) 1fr;
}

.columnsHeader {
  grid-template-columns: minmax(0, calc(12.5% - 0.5rem)) minmax(0, calc(37.5% - 0.5rem)) minmax(0, 1fr);

  align-self: center;

  font-size: .8333rem;
}

.nicknameWrapperWithoutPassword {
  grid-template-columns: 1fr;
  grid-gap: .75rem;
}

.showPriceWrapper {
  display: grid;
  grid-gap: .666rem;
  grid-template-columns: calc(50% - 0.5rem) 1fr;
}

.clientCheckbox {
  display: flex;
  grid-template-columns: 1.333rem auto;
  
  width: 100%;

  font-size: .8333rem;
  font-weight: normal;
}

.showPriceMark {
  width: 1.333rem;
  height: 1.333rem;

  border-width: 2px;
}

.showPriceMark:after {
  width: 6px;
  height: 11px;
}

.categoriesWrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.rowsTitle {
  display: flex;
  align-items: center;

  font-size: .8333rem;
  font-weight: bold;
}

.buttons {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.opaquePlaceholder::placeholder {
  color: #fff;
}

.centeredPlaceholder::placeholder {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .form {
    grid-gap: 2rem;
  }

  .gridSection {
    grid-gap: 1.5rem;
  }

  .columnsHeader {
    grid-template-columns: minmax(0, calc(50% - .5rem)) minmax(0, 1fr);
    grid-row-gap: 2rem;
  }

  .clientCheckbox {
    grid-row: 1;
  }
}

@media screen and (max-width: 500px) {
  .showPriceWrapper {
    grid-template-columns: 1fr;
  }
}